{% if include.lookup %}
  {% assign citation = site.data.citations
    | where_exp: "citation",
      "citation.id == include.lookup or citation.title contains include.lookup"
    | first
  %}
{% else %}
  {% assign citation = include %}
{% endif %}

<div class="citation-container">
  <div class="citation">
    {% if include.style == "rich" %}
      <a
        {% if citation.link %}
          href="{{ citation.link | relative_url }}"
        {% endif %}
        class="citation-image"
        aria-label="{{ citation.title | default: "citation link" }}"
      >
        <img
          src="{{ citation.image | relative_url }}"
          alt="{{ citation.title | default: "citation image" }}"
          loading="lazy"
          {% include fallback.html %}
        >
      </a>
    {% endif %}

    <div class="citation-text">
      {% assign type = site.data.types[citation.type] %}
      {% include icon.html icon=type.icon %}

      <a
        {% if citation.link %}
          href="{{ citation.link | relative_url }}"
        {% endif %}
        class="citation-title"
      >
        {{ citation.title | default: "[no title info]" }}
      </a>

      <div
        class="citation-authors"
        {% if citation.authors.size > 10 %}
          data-tooltip="{{ citation.authors | join: ", " }} "
        {% endif %}
        tabindex="0"
      >
        {{
          citation.authors
          | join: ","
          | split: ","
          | array_carve: 5
          | join: ", "
          | markdownify
          | remove: "<p>" | remove: "</p>"
          | default: "[no author info]"
        }}
      </div>

      <div class="citation-details">
        <span class="citation-publisher">
          {{- citation.publisher | default: "[no publisher info]" -}}
        </span>
        &nbsp;·&nbsp;
        <span class="citation-date">
          {{- citation.date | default: "[no date info]" | date: "%d %b %Y" -}}
        </span>
        &nbsp;·&nbsp;
        <span class="citation-id">
          {{- citation.id | default: "[no id info]" -}}
        </span>
      </div>

      {% if include.style == "rich" %}
        {% if citation.description %}
          <div class="citation-description">
            {{
              citation.description
              | markdownify
              | remove: "<p>"
              | remove: "</p>"
            }}
          </div>
          <div class = "citation_badge">
    
<span 
  class="__dimensions_badge_embed__" 
  data-doi="{{ id | remove_first: 'doi:' }}" 
  data-style="large_rectangle" 
  data-legend="hover-right">
</span>
<br>
<script async src="https://badge.dimensions.ai/badge.js" charset="utf-8"></script>
<script 
  type='text/javascript' 
  src='https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js' 
  charset="utf-8">
</script> 
<div 
  data-badge-type="1" 
  class='altmetric-embed' 
  data-badge-popover='right' 
  data-doi="{{ id | remove_first: 'doi:' }}">
</div> 
<br>
<div class="scite-badge"
     data-doi="{{ id | remove_first: 'doi:' }}"
     data-layout="horizontal"
     data-show-zero="true"
     data-small="true"
     data-show-labels="false"
     data-tally-show="true">
</div>
<script async type="application/javascript" src="https://cdn.scite.ai/badge/scite-badge-latest.min.js">
</script>
 
    
</div>
        {% endif %}

        {% if citation.buttons.size > 0 %}
          <div class="citation-buttons">
            {% for button in citation.buttons %}
              {%
                include button.html
                type=button.type
                icon=button.icon
                text=button.text
                link=button.link
                style="bare"
              %}
            {% endfor %}
          </div>
        {% endif %}

        {% if citation.tags.size > 0 or citation.repo %}
          {% include tags.html tags=citation.tags repo=citation.repo %}
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
