---
layout: default
---

{% capture floatcontent %}

{% include portrait.html lookup=page.slug %}

<div>
  {% for link in page.links %}
    {% assign key = link[0] %}
    {% assign value = link[1] %}
    {% include button.html type=key link=value style="bare" %}<br>
  {% endfor %}
</div>

{% endcapture %}

{% include float.html content=floatcontent %}

{{ content }}

{% assign aliases = page.aliases
  | default: page.name
  | default: page.title
  | join: ","
  | split: ","
  | array_filter
%}

<hr>
<h3>Publications</h3>

{% for pub in site.data.citations %}
  
  {% assign is_author = false %}

  {% for alias in aliases %}
    {% if pub.authors contains alias %}
      {% assign is_author = true %}
    {% endif %}
  {% endfor %}

  {% if is_author %}
    {% include citation.html item=pub style="rich" %}
  {% endif %}

{% endfor %}
